	<!-- Header Carousel -->
	    <header id="myCarousel" class="carousel slide">
	        <!-- Indicators -->
	        <ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	        </ol>

	        <!-- Wrapper for slides -->
	        <div class="carousel-inner">
	            <div class="item active">
	                <div class="fill" style="background-image:url('https://source.unsplash.com/random/1900x1080&text=<%= @rand1[0].name %>');">
						<div class="container vertical-center rand-pic">
							<h1 class="display-1"><%= @rand1[0].name %></h1>
						</div>
	                </div>
	                <div class="carousel-caption">
	                    <!-- <h2>We had an unexpected adventure</h2> -->
						<h2>Remember when <%= @rand1[0].title %></h2>
	                </div>
	            </div>
	            <div class="item">
	                <div class="fill" style="background-image:url('https://source.unsplash.com/random/1900x1080&text=<%= @rand2[0].name %>');">
		                <div class="container vertical-center rand-pic">
							<h1 class="display-1"><%= @rand2[0].name %></h1>
						</div>
	                </div>
	                <div class="carousel-caption">
	                    <!-- <h2>We had the most fun ever</h2> -->
	                    <h2>Remember when <%= @rand2[0].title %></h2>
	                </div>
	            </div>
	            <div class="item">
	                <div class="fill" style="background-image:url('https://source.unsplash.com/random/1900x1080&text=<%= @rand3[0].name %>');">
	                	<div class="container vertical-center rand-pic">
							<h1 class="display-1"><%= @rand3[0].name %></h1>
						</div>
	                </div>
	                <div class="carousel-caption">
	                    <h2>Remember when <%= @rand3[0].title %></h2>
	                    <!-- <h2>I went into labor...over and over and over again!</h2> -->
	                </div>
	            </div>
	        </div>

	        <!-- Controls -->
	        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="icon-prev"></span>
	        </a>
	        <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="icon-next"></span>
	        </a>
	    </header>