<!-- Page Content -->
<div class="container">
<!-- Content Panel -->
	<div class="col-lg-12">
		<div>
			<form action="/">
				<button id="back" class="btn btn-default">Back</button>
			</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Remember When... <%= @memory.title %></h3>
				<p><i class="fa fa-clock-o"></i> <%= @memory.created_at.localtime.strftime('%I:%M%p %a %b %d, %Y') %></p>
			</div>
			<div class="panel-body">
				<big><p> <%= @memory.content %><p></big>
				<h4><%= @memory.name %></h4>
				<div>
					<!-- Button trigger modal -->
					<button class="btn btn-default" data-toggle="modal" data-target="#addCommentModal">Comment</button>
					<form action="/<%= @memory.id %>/edit" method="get">
						<button class="btn btn-default">Edit</button>
					</form>
					<form class="" action="/<%= @memory.id %>/delete" method="post">
						<button class="btn btn-default">Delete</button>
					</form>
				</div>
				<!-- Comment Section -->
				<!-- Posted Comments -->
				<div class="comments">
				    <% @comments.each do |comment| %>
				    <hr>
					    <div class="">
					        <div class="">
					            <big><p><%= comment.content %></p></big>
					            <h5>-<%= comment.name %></h5>
					            <h6 class="media-heading"><i class="fa fa-clock-o"></i> <%= comment.created_at.localtime.strftime('%I:%M%p %a %b %d, %Y') %></h6>
					        </div>
					    </div>
			        <% end %>
			    </div>

			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModal" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <!-- Modal Header -->
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal">
			                <span aria-hidden="true">&times;</span>
			                <span class="sr-only">Close</span>
		                </button>
		                <h4 class="modal-title" id="addCommentModal">
		                    Add New Comment:All fields required
		                </h4>
		            </div>	
					<!-- Modal Body -->
					<div class="modal-body">
						<form role="form" action="/<%= @memory.id %>/comments" method="post">
					        <div class="form-group">
						        <input class="form-control" placeholder="Name" name="comment[name]">
					            <textarea class="form-control" name="comment[content]" rows="3"></textarea>
					        </div>
					        <button type="submit" class="btn btn-default">Post</button>
					    </form>
					</div>
		      </div>
	      </div>
		</div>
		<!-- comment section -->
	</div>
</div>